*.pyc
__pycache__/
*.log
.env
db.sqlite3
.venv/
venv/
*.swp
*.swo
.DS_Store

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate*
terraform/terraform.tfvars
terraform/build/
